
td.test {
    text-align: center;
    font-size: 50px;
    width: 400px;
    height: 400px;
    background-color: #FF69B4;
    border: 2px solid purple;
    border-top-right-radius: 200px;
    border-top-left-radius: 200px;
    border-bottom-right-radius: 200px;
    border-bottom-left-radius: 200px;

}