

.p1{background-color: #FF69B4;
    position: absolute;
    top: 80px;
    left: 20px;
}
.p2 {
    background-color: yellow;
    position: absolute;
    top: 185px;
    left: 20px;
}
h2,h3{

}
article{position: relative;}
body{
    width: 600px;
    margin: auto;
}
h2{
    position: absolute;
    top: 10px;
    left: 20px;
    background-color: #00b3ff;
}
h3{
    background-color: #1883ba;
    position: absolute;
    top: 290px;
    left: 20px;
}