@font-face {
    font-family: 'freebooterscript';
    src: url('freebooterscript-webfont.woff2') format('woff2'),
    url('freebooterscript-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}